.itemDescription{
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    width: 360px;
    
   
 }
 .itemImage{
    width: 300px;
    height:300px;
    object-fit: contain;
 
 }
 .descItem{
    list-style: none;
    font-size: 16px;
 }